## Variables

#### This are containers which can hold the data.Predefined key words can be used

In [1]:
name = "rajasekhar"
rice=1000
rent=12000
car_expenses=2000

In [2]:
Total_expenses = rice+rent+car_expenses

In [3]:
Total_expenses

15000

In [9]:
print("Total monthly expenses for  " +name+':'  + str(Total_expenses))

Total monthly expenses for  rajasekhar:15000

## Numbers

In [11]:
3-4

-1

In [12]:
4/5

0.8

In [14]:
11 % 5

1

## Strings
#### Strings are immutable, we cannot change them we can place another string in the variable

In [1]:
text = 'Raja sekhar'

In [2]:
text[0]

'R'

In [17]:
text[0:3]

'Raj'

In [18]:
text[0-3]

'h'

In [19]:
text[0-4]

'k'

In [21]:
text[0] = 'u'

TypeError: 'str' object does not support item assignment

In [4]:
text[5:]

'sekhar'

In [5]:
text[:3]

'Raj'

In [6]:
address = '''1 purple street
newyork
pakala'''

In [7]:
address

'1 purple street\nnewyork\npakala'

In [8]:
sc= 'total number is stats'
num = 25

In [10]:
sc+':'+str(num)

'total number is stats:25'

# https://www.youtube.com/watch?v=arceZxmglH8

# List
##### LIST are mutables and heterogenous
##### APPEND will always add at end.Doesnot return any value.Modifes the original list.Append can take only one element at time
##### INSERT If we want to insert a element at specific location then we should use INSERT
##### EXTEND is used to add multiple elements at the end to the list
##### POP it is used to remove the item from the list based on index. If no index is specified,pop returns and removes the last element in the list. It will return the deleted element
##### REMOVE it deletes based on the element data we provide. It removed first occurrence of the given item from list and it does not returns the deleted element and it will remove only one element from the list
#### CLEAR it will remove all the elements from the list and list becomes empty. We are not deleting the list we are deleting only the elements in the list
#### DEL used to delete multiple elements also using slicing. it can delete entire list. Deletes based on index.This function will delete the elements in the list and also the list
##### COUNT() it will count number elements appear in that list. if the given item is not in the list then it will return 0
##### REVERSE it will reverse the items of the list in place. ID remains same
##### LEN function will help in knowing the length
##### IN function can be used if the element exists in list or not
##### SORT will sort the elements in the list and (reverse=True) is used for descending SORT. 
##### SORTED It will not sort the original list but returns the sorted list
##### MIN(),MAX(),SUM()

In [48]:
lst = ['pasta','fruits','veggies','bread']

In [132]:
lst

['pasta',
 'fruits',
 'veggies',
 'bread',
 ['new_one', 'new_two'],
 'does not return any value',
 ['new_one', 'new_two']]

In [16]:
lst[0:4]

['pasta', 'fruits', 'veggies', 'bread']

In [17]:
lst[2:3]

['veggies']

In [18]:
lst[0]='chips'

In [19]:
lst

['chips', 'fruits', 'veggies', 'bread']

In [20]:
lst[-1]

'bread'

In [133]:
lst.append("butter")

In [55]:
#can add only one element to list
lst.append("new_one","new_two")

TypeError: append() takes exactly one argument (2 given)

In [134]:
# this worked as we have only one element
lst.append(["new_one","new_two"])

In [135]:
lst

['pasta',
 'fruits',
 'veggies',
 'bread',
 ['new_one', 'new_two'],
 'does not return any value',
 ['new_one', 'new_two'],
 'butter',
 ['new_one', 'new_two']]

In [136]:
lst[len(lst)-1]

['new_one', 'new_two']

In [139]:
for i in lst:
    print(i)

pasta
fruits
veggies
bread
['new_one', 'new_two']
does not return any value
['new_one', 'new_two']
butter
['new_one', 'new_two']

In [141]:
for i in range(len(lst)):
    print(lst[i])

pasta
fruits
veggies
bread
['new_one', 'new_two']
does not return any value
['new_one', 'new_two']
butter
['new_one', 'new_two']

In [149]:
new_value=['R','a','j','a','s','e','k','h','a','r']

In [151]:

length=len(new_value)
for i in range(length):
    print('At index',i, 'and',i-length,':',new_value[i])

At index 0 and -10 : R
At index 1 and -9 : a
At index 2 and -8 : j
At index 3 and -7 : a
At index 4 and -6 : s
At index 5 and -5 : e
At index 6 and -4 : k
At index 7 and -3 : h
At index 8 and -2 : a
At index 9 and -1 : r

In [52]:
l1 = lst.append("does not return any value")

In [53]:
#lst did not return any value thats the reason there is no value in l1 where as in lst new element got added
l1

In [54]:
lst

['pasta',
 'fruits',
 'veggies',
 'bread',
 ['new_one', 'new_two'],
 'does not return any value']

In [58]:
# EXTENDS multiple elements in the list

lst_new = [1,2,3,'raj','pakala','new']

In [59]:
lst_new

[1, 2, 3, 'raj', 'pakala', 'new']

In [61]:
# same using append will return one list
lst_new.extend(['two','new','elements'])

In [62]:
lst_new

[1, 2, 3, 'raj', 'pakala', 'new', 'two', 'new', 'elements']

In [63]:
lst_new.extend([['new','nested_list','in extend']])

In [64]:
lst_new

[1,
 2,
 3,
 'raj',
 'pakala',
 'new',
 'two',
 'new',
 'elements',
 ['new', 'nested_list', 'in extend']]

In [65]:
# it is used to insert at any given postition
lst_new.insert(1,'chicken')

In [68]:
lst_new

[1,
 'chicken',
 2,
 3,
 'raj',
 'pakala',
 'new',
 'two',
 'new',
 'elements',
 ['new', 'nested_list', 'in extend']]

In [74]:
lst_new.insert(-30,'negative_index')

In [75]:
lst_new

['negative_index',
 1,
 'no_index',
 'chicken',
 2,
 3,
 'raj',
 'pakala',
 'new',
 'two',
 'new',
 'elements',
 ['new', 'nested_list', 'in extend'],
 'Positive_index']

In [72]:
lst_new.insert(50,'Positive_index')

In [73]:
lst_new

[1,
 'no_index',
 'chicken',
 2,
 3,
 'raj',
 'pakala',
 'new',
 'two',
 'new',
 'elements',
 ['new', 'nested_list', 'in extend'],
 'Positive_index']

In [76]:
lst_new.pop()

'Positive_index'

In [77]:
lst_new

['negative_index',
 1,
 'no_index',
 'chicken',
 2,
 3,
 'raj',
 'pakala',
 'new',
 'two',
 'new',
 'elements',
 ['new', 'nested_list', 'in extend']]

In [78]:
lst_new.pop(2)

'no_index'

In [79]:
lst_new

['negative_index',
 1,
 'chicken',
 2,
 3,
 'raj',
 'pakala',
 'new',
 'two',
 'new',
 'elements',
 ['new', 'nested_list', 'in extend']]

In [80]:
lst_new.pop(50)

IndexError: pop index out of range

In [82]:
lst_new.remove('two')

In [83]:
lst_new

['negative_index',
 1,
 'chicken',
 2,
 3,
 'raj',
 'pakala',
 'new',
 'new',
 'elements',
 ['new', 'nested_list', 'in extend']]

In [85]:
l_clear = [1,3,'raj']

In [86]:
l_clear.clear()

In [87]:
l_clear

[]

In [88]:
l_del = [1,2,3,4,'raj','delete']

In [94]:
del l_del[2]

In [95]:
l_del

[1, 2, 4, 'raj', 'delete']

In [97]:
del l_del [1:]

In [98]:
l_del

[1]

In [99]:
del l_del

In [100]:
l_del

NameError: name 'l_del' is not defined

In [101]:
l_cnt = [1,2,3,4,6,7,1,2,4,1,2,4,'raj','srava','raj']

In [102]:
l_cnt.count(2)

3

In [105]:
l_cnt.count('raj')

2

In [106]:
l_cnt.count('55')

0

In [111]:
l_rev = [1,2,3,4,'Raj','Sravanthi']

In [114]:
id(l_rev)

140661074790920

In [112]:
l_rev.reverse()

In [113]:
l_rev

['Sravanthi', 'Raj', 4, 3, 2, 1]

In [115]:
id(l_rev)

140661074790920

In [116]:
list_1 = [12,32,44,24,20]

In [117]:
list_1.sort()

In [118]:
list_1

[12, 20, 24, 32, 44]

In [119]:
#Descending
list_1.sort(reverse=True)

In [120]:
list_1

[44, 32, 24, 20, 12]

In [122]:
lst_sorted = sorted(list_1)

In [123]:
lst_sorted

[12, 20, 24, 32, 44]

In [124]:
lst_sorted = sorted(list_1,reverse=True)

In [125]:
lst_sorted

[44, 32, 24, 20, 12]

In [126]:
#MIN
l_min = [1,4,5,7,8]

In [129]:
min(l_min)

1

In [130]:
max(l_min)

8

In [131]:
sum(l_min)

25

In [152]:
food = ['chips', 'chicken', 'fruits', 'veggies', 'bread', 'butter']
bathroom = ['shampoo','soap']

In [153]:
myitems = food+bathroom

In [154]:
myitems

['chips', 'chicken', 'fruits', 'veggies', 'bread', 'butter', 'shampoo', 'soap']

In [156]:
food*3

['chips',
 'chicken',
 'fruits',
 'veggies',
 'bread',
 'butter',
 'chips',
 'chicken',
 'fruits',
 'veggies',
 'bread',
 'butter',
 'chips',
 'chicken',
 'fruits',
 'veggies',
 'bread',
 'butter']

In [ ]:
myitems1

In [31]:
food+"soda"

TypeError: can only concatenate list (not "str") to list

In [32]:
len(myitems)

8

In [34]:
'bread' in myitems

True

In [35]:
'soda' in myitems

False

In [36]:
# Different operations that can be performed in a list
list_1 = [12,32,44,24,20]

In [37]:
list_1.sort()

In [38]:
list_1

[12, 20, 24, 32, 44]

In [39]:
print(list_1)

[12, 20, 24, 32, 44]

In [40]:
#Descending
list_1.sort(reverse=True)

In [41]:
list_1

[44, 32, 24, 20, 12]

In [44]:
list_nested=[1,2,3,4,[1,'raj'],5,'Total']

In [45]:
len(list_nested)

7

In [46]:
list_nested[4]

[1, 'raj']

In [47]:
list_nested[4][1]

'raj'

In [ ]:
# convert dictionary into list
# When we convert dict into list then on keys will be part of list
d = {1:'one',2:'Raj',3:"three}

In [ ]:
lst_dct = list(d)

In [ ]:
lst_dct

# List slicing

##### List slics are the subparts of a list extracted out. We can use indexes to create list of slices.list slicing will return will list
### seq = l[start:stop]
##### List also supports slice steps. I.e if we want to extarct non consesctive but every other element in the list
### seq = l[start:stop:step]    
##### By default step value is 1
## l_step[::-1]   this will reverse the list

l=[1,2,4,'Raj','srav']

In [11]:
l1 = l[1:-1]

In [12]:
l1

[2, 4, 'Raj']

In [6]:
l[1:30]

[2, 4, 'Raj', 'srav']

In [7]:
l[-9:2]

[1, 2]

In [19]:
l_step = [1,3,4,6,8,12,34,56,'raj','srav','nanai','joshw','Kura']

In [18]:
l_step[1:8:2]

[3, 6, 12, 56]

In [20]:
l_step[::4]

[1, 8, 'raj', 'Kura']

In [21]:
l_step[::-1]

['Kura', 'joshw', 'nanai', 'srav', 'raj', 56, 34, 12, 8, 6, 4, 3, 1]

In [22]:
l_step[0:2] = ["new","value"]

In [23]:
l_step

['new', 'value', 4, 6, 8, 12, 34, 56, 'raj', 'srav', 'nanai', 'joshw', 'Kura']

In [24]:
l = [11,22,33]

In [25]:
l[1:2] = 'Python'

In [26]:
l

[11, 'P', 'y', 't', 'h', 'o', 'n', 33]

In [28]:
l_nest = [1,2,3,4,['raj','srava'],'suman']

In [29]:
l_nest[4]

['raj', 'srava']

In [30]:
l_nest[4][1]

'srava'

In [32]:
l_nest[4:5]

[['raj', 'srava']]

In [33]:
l_nest[4:5][0]

['raj', 'srava']

In [34]:
l_nest[4:5][0][0]

'raj'

In [35]:
l[1]+l[2]

'Py'

In [37]:
l_nest[4]+l_nest[2]

TypeError: can only concatenate list (not "int") to list

In [38]:
l_nest[4]+[l_nest[2]]

['raj', 'srava', 3]

In [ ]:
lst=[1,2,3,4]

In [ ]:
lst