# TUPLES:
##### TUPLES are sequence that are used to store a tuple of value of any type. Tuples are IMMUTABLE.Tuples are represented in (). if we assign more than one value to variable then it will become TUPLE
##### To construct a tuple with one element,just add a comma (,) after the single element
##### Python creates the individual elements of the tuple from the individual elements of passed sequence 
##### EVAL. used to take input from the user
##### tuple(), it will create a tuple using individual characters as elements
## Accessing elements in Tuple
##### Elements in tuple can be retrieved using indexes.We should use forward/backward indexing.
## Similarity with Strings and list
##### len() , indexing and slicing , membership operators (in and not in) , concatenation and replication operators + &  *
##### We cannot delete single element from tuple whereas we can delete entire tuple using del statement
##### Forming a Tuple from individual values are called packing and creating individual values from a tuples element is called unpacking
##### In the list all the values are having same meaning (homogenous) whereas in Tuple all the values have different meaning(heterogenous)

In [3]:
tup=(1,2,2.5,'Raj','Josh','Sravs')

In [4]:
tup

(1, 2, 2.5, 'Raj', 'Josh', 'Sravs')

In [8]:
tup[0]

1

In [9]:
tup[0:2]

(1, 2)

In [10]:
a,b,c=2,4,6

In [11]:
a=3,4,6

In [12]:
a

(3, 4, 6)

In [13]:
type(a)

tuple

In [15]:
tup[0]=23

TypeError: 'tuple' object does not support item assignment

In [16]:
#empty tuple
t = tuple()

In [17]:
len(t)

0

In [18]:
len(tup)

6

In [19]:
T=3,

In [20]:
type(T)

tuple

In [21]:
T1 = (5,3)

In [22]:
type(T1)

tuple

In [26]:
#nested tuple
nest_tup = (1,2,'Raj','Sravanthi',(1,"Joshwik"))

In [29]:
nest_tup[4][1]

'Joshwik'

In [1]:
tuple([1,2,3,4])

(1, 2, 3, 4)

In [33]:
tuple("Rajasekhar")

('R', 'a', 'j', 'a', 's', 'e', 'k', 'h', 'a', 'r')

In [36]:
tuple("raj","sravanthi","Joshwik")

TypeError: tuple() takes at most 1 argument (3 given)

In [ ]:
tuple(["raj","sravanthi","Joshwik"])

In [1]:
tuple(("raj","sravanthi","Joshwik"))

('raj', 'sravanthi', 'Joshwik')

In [2]:
tupp = tuple(input("Enter name:"))

Enter name: Rajasekhar

In [1]:
tpeep = (1,2,3,4)

In [2]:
#packing
t = (11,2,3,45,66)

In [3]:
a,b,c,d,e=t

In [4]:
a

11

In [5]:
b

2

# How to modify tuples
##### Tuples are immutable but we can modify tuples indirectly
##### 1. Using Tuples unpacking   ---->   Unpack the tuple , change the value and then pack the tuple
##### 1. Using the constructor functions of list() and tuple()   ----> convert tuple into list and then add eleement and then create list again

In [6]:
t = (11,2,3,45,66)

In [8]:
a,b,c,d,e = t

In [9]:
c

3

In [10]:
c=100

In [11]:
t

(11, 2, 3, 45, 66)

In [12]:
t = (a,b,c,d,e)

In [13]:
t

(11, 2, 100, 45, 66)

In [14]:
# Second method
t = (11,2,3,45,66)
t = list(t)
a

In [15]:
t

[11, 2, 3, 45, 66]

In [16]:
t[2] = 'Raj'

In [17]:
t = tuple(t)

In [18]:
t

(11, 2, 'Raj', 45, 66)

In [28]:
T1 = ('raj','josh','sarv',30,2,28)

In [20]:
len(T1)

6

In [21]:
T1.index(30)

3

In [22]:
T1.count(2)

1

In [23]:
T1.count('Raj')

0

In [24]:
del T1

In [37]:
T22 = (1,233,3,4,13131)

In [38]:
T2=sorted(T22)

In [39]:
T2

[1, 3, 4, 233, 13131]

In [41]:
min(T2)

1

In [42]:
max(T2)

13131

In [43]:
sum(T2)

13372